name: Build and Deploy to GKE

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: probable-bebop-418220
  GAR_LOCATION: us-east1 # TODO: update region of the Artifact Registry
  REPOSITORY: test-app

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'




    steps:

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
       credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
    - name: Docker configuration
      run: |-
        echo '${{ secrets.GCP_CREDENTIALS }}'
    - name: Checkout
      uses: actions/checkout@v3

    - name: Docker configuration
      run: |-
 
       echo '${{ secrets.GCP_CREDENTIALS }}' | docker login -u _json_key --password-stdin https://$GAR_LOCATION-docker.pkg.dev


    # Build the Docker image
    - name: Build
      run: |-
        docker build \
          --tag "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY"   .
          
    # Push the Docker image to Google Artifact Registry
    - name: Publish
      run: |-
        echo '${{ secrets.GCP_CREDENTIALS }}' | docker login -u _json_key --password-stdin https://$GAR_LOCATION-docker.pkg.dev
        docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY"
